@use "sass:map";

$breakpoints: (
  smallest: 376px,
  smaller: 415px,
  small: 576px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop-sm: 992px,
  desktop-md: 1200px,
  desktop-lg: 1400px,
);

// mixins

@mixin mq($key, $from: max) {
  $size:
    map-get(
      $map: $breakpoints,
      $key: $key,
    );

  @media (#{$from}-width: $size) {
    @content;
  }
}

@mixin font-face($name, $url, $weight, $style: normal) {
  @font-face {
    src:
      url("#{$url}.woff2") format("woff2"),
      url("#{$url}.woff") format("woff");
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
