.process {
  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 45px;
    text-align: center;

    @include mq(tablet) {
      padding-left: 0;
    }
  }

  &__list {
    @include list-reset;

    counter-reset: step;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq(tablet-lg) {
      margin: 0 auto;
      width: 90%;
    }

    @include mq(tablet) {
      justify-content: initial;
      width: 100%;
    }
  }

  &__item {
    width: 25%;

    @include mq(tablet-lg) {
      width: calc(100% / 3);
    }

    @include mq(tablet) {
      width: 50%;

      &:nth-child(2n) {
        margin-top: 100px;
      }
    }

    @include mq(small) {
      width: 100%;

      &:nth-child(2n) {
        margin-top: 0;
      }
    }
  }
}

.process-card {
  padding: 19px 10px;
  text-align: center;

  &__step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 19px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    color: var(--color-white);
    background-color: var(--color-section-bg-dark);

    &::after {
      counter-increment: step;
      content: counter(step);
    }
  }

  &__desc {
    margin: 0 auto;
    max-width: 285px;
  }
}
